# Test database configuration
DATABASE_URL=your_test_postgresql_database_url

# Test JWT configuration
JWT_SECRET=your_test_jwt_secret
JWT_ACCESS_EXPIRES_IN=your_test_jwt_access_expires_in
JWT_REFRESH_EXPIRES_IN=your_test_jwt_refresh_expires_in

# Test misc configuration
PORT=your_test_port
PASSWORD_SALT_ROUNDS=your_test_password_salt_rounds