# Database configuration
DATABASE_URL=your_postgresql_database_url

# JWT configuration
JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expires_in
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expires_in

# Misc configuration
PORT=your_port
PASSWORD_SALT_ROUNDS=your_password_salt_rounds